body{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}

:root{
    --dark: #003c8f;
    --light: #5e92f3;
    --primary: #1565c0;
    --text: #14cba8;
}

p, h1, h2, h3, h4 {
    color: var(--text);
    padding: 5px 10px;
}